/* EB Garamond */

@font-face {
  font-family: 'EBGaramond Regular';
  src:
    url('/fonts/EBGaramond/EBGaramond-Regular.woff2') format('woff2'),
    url('/fonts/EBGaramond/EBGaramond-Regular.woff') format('woff'),
    url('/fonts/EBGaramond/EBGaramond-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'EBGaramond Bold';
  src:
    url('/fonts/EBGaramond/EBGaramond-Bold.woff2') format('woff2'),
    url('/fonts/EBGaramond/EBGaramond-Bold.woff') format('woff'),
    url('/fonts/EBGaramond/EBGaramond-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'EBGaramond Italic';
  src:
    url('/fonts/EBGaramond/EBGaramond-Italic.woff2') format('woff2'),
    url('/fonts/EBGaramond/EBGaramond-Italic.woff') format('woff'),
    url('/fonts/EBGaramond/EBGaramond-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

/* Ysabeau Office */

@font-face {
  font-family: 'YsabeauOffice Regular';
  src:
    url('/fonts/YsabeauOffice/YsabeauOffice-Regular.woff2') format('woff2'),
    url('/fonts/YsabeauOffice/YsabeauOffice-Regular.woff') format('woff'),
    url('/fonts/YsabeauOffice/YsabeauOffice-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'YsabeauOffice Bold';
  src:
    url('/fonts/YsabeauOffice/YsabeauOffice-Bold.woff2') format('woff2'),
    url('/fonts/YsabeauOffice/YsabeauOffice-Bold.woff') format('woff'),
    url('/fonts/YsabeauOffice/YsabeauOffice-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'YsabeauOffice Italic';
  src:
    url('/fonts/YsabeauOffice/YsabeauOffice-Italic.woff2') format('woff2'),
    url('/fonts/YsabeauOffice/YsabeauOffice-Italic.woff') format('woff'),
    url('/fonts/YsabeauOffice/YsabeauOffice-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
