/* EB Garamond */

@font-face {
	font-family: 'EBGaramond H1';
	src: url('/fonts/EBGaramond/EBGaramond-Bold.woff2') format('woff2'),
		url('/fonts/EBGaramond/EBGaramond-Bold.woff') format('woff'),
		url('/fonts/EBGaramond/EBGaramond-Bold.ttf') format('ttf');
	font-weight: 700;
	line-height: 100%;
	font-size: 18px;
}

@font-face {
	font-family: 'EBGaramond H2';
	src: url('/fonts/EBGaramond/EBGaramond-Bold.woff2') format('woff2'),
		url('/fonts/EBGaramond/EBGaramond-Bold.woff') format('woff'),
		url('/fonts/EBGaramond/EBGaramond-Bold.ttf') format('ttf');
	font-weight: 700;
	line-height: 100%;
	font-size: 16px;
}

@font-face {
	font-family: 'EBGaramond H3';
	src: url('/fonts/EBGaramond/EBGaramond-Bold.woff2') format('woff2'),
		url('/fonts/EBGaramond/EBGaramond-Bold.woff') format('woff'),
		url('/fonts/EBGaramond/EBGaramond-Bold.ttf') format('ttf');
	font-weight: 700;
	line-height: 100%;
	font-size: 14px;
}

@font-face {
	font-family: 'EBGaramond Regular';
	src: url('/fonts/EBGaramond/EBGaramond-Regular.woff2') format('woff2'),
		url('/fonts/EBGaramond/EBGaramond-Regular.woff') format('woff'),
		url('/fonts/EBGaramond/EBGaramond-Regular.ttf') format('ttf');
	font-size: 12px;
	font-weight: 400;
	line-height: 100%;
}

@font-face {
	font-family: 'EBGaramond Bold';
	src: url('/fonts/EBGaramond/EBGaramond-Bold.woff2') format('woff2'),
		url('/fonts/EBGaramond/EBGaramond-Bold.woff') format('woff'),
		url('/fonts/EBGaramond/EBGaramond-Bold.ttf') format('ttf');
	font-size: 12px;
	font-weight: 700;
	line-height: 100%;
}

@font-face {
	font-family: 'EBGaramond Italic';
	src: url('/fonts/EBGaramond/EBGaramond-Italic.woff2') format('woff2'),
		url('/fonts/EBGaramond/EBGaramond-Italic.woff') format('woff'),
		url('/fonts/EBGaramond/EBGaramond-Italic.ttf') format('ttf');
	font-size: 12px;
	font-weight: 400;
	line-height: 100%;
}

/* Ysabeau Office */

@font-face {
	font-family: 'YsabeauOffice H1';
	src: url('/fonts/YsabeauOffice/YsabeauOffice-Bold.woff2') format('woff2'),
		url('/fonts/YsabeauOffice/YsabeauOffice-Bold.woff') format('woff'),
		url('/fonts/YsabeauOffice/YsabeauOffice-Bold.ttf') format('ttf');
	font-weight: 700;
	line-height: 100%;
	font-size: 18px;
}

@font-face {
	font-family: 'YsabeauOffice H2';
	src: url('/fonts/YsabeauOffice/YsabeauOffice-Bold.woff2') format('woff2'),
		url('/fonts/YsabeauOffice/YsabeauOffice-Bold.woff') format('woff'),
		url('/fonts/YsabeauOffice/YsabeauOffice-Bold.ttf') format('ttf');
	font-weight: 700;
	line-height: 100%;
	font-size: 16px;
}

@font-face {
	font-family: 'YsabeauOffice H3';
	src: url('/fonts/YsabeauOffice/YsabeauOffice-Bold.woff2') format('woff2'),
		url('/fonts/YsabeauOffice/YsabeauOffice-Bold.woff') format('woff'),
		url('/fonts/YsabeauOffice/YsabeauOffice-Bold.ttf') format('ttf');
	font-weight: 700;
	line-height: 100%;
	font-size: 14px;
}

@font-face {
	font-family: 'YsabeauOffice Regular';
	src: url('/fonts/YsabeauOffice/YsabeauOffice-Regular.woff2') format('woff2'),
		url('/fonts/YsabeauOffice/YsabeauOffice-Regular.woff') format('woff'),
		url('/fonts/YsabeauOffice/YsabeauOffice-Regular.ttf') format('ttf');
	font-size: 12px;
	font-weight: 400;
	line-height: 100%;
}

@font-face {
	font-family: 'YsabeauOffice Bold';
	src: url('/fonts/YsabeauOffice/YsabeauOffice-Bold.woff2') format('woff2'),
		url('/fonts/YsabeauOffice/YsabeauOffice-Bold.woff') format('woff'),
		url('/fonts/YsabeauOffice/YsabeauOffice-Bold.ttf') format('ttf');
	font-size: 12px;
	font-weight: 700;
	line-height: 100%;
}

@font-face {
	font-family: 'YsabeauOffice Italic';
	src: url('/fonts/YsabeauOffice/YsabeauOffice-Italic.woff2') format('woff2'),
		url('/fonts/YsabeauOffice/YsabeauOffice-Italic.woff') format('woff'),
		url('/fonts/YsabeauOffice/YsabeauOffice-Italic.ttf') format('ttf');
	font-size: 12px;
	font-weight: 400;
	line-height: 100%;
}
