:root {
	/* Основные цвета */
	--black-primary: 0 0% 0%;
	--orange-primary: 30 100%, 65%;
	--orange-light: 22 100% 80%;
	--pink-primary: 334 61% 50%;
	--pink-light: 338 69% 71%;
	--blue-primary: 213 69% 34%;
	--blue-light: 210 54% 63%;
	--green-dark: 181 61% 39%;
	--green-light: 168 49% 58%;

	/* альфа прозрачности */
	--alpha-1: 10%;
	--alpha-2: 20%;
	--alpha-3: 30%;
	--alpha-4: 40%;
	--alpha-5: 50%;
	--alpha-6: 60%;
	--alpha-7: 70%;
	--alpha-8: 80%;
	--alpha-9: 90%;
	--alpha-10: 100%;
}
