.textarea {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 4px;
  border: 1px solid transparent;
  transition: border-color 0.15s;
  width: fit-content;
}

.textarea__label {
  font-size: 12px;
  color: black;
}

.textarea__label--disabled {
  color: #acacac;
}

.textarea__field {
  padding: 8px 10px 10px;
  border: 1px solid black;
  font-size: 12px;
}

textarea::placeholder {
  color: #868686;
}

.textarea:focus-within {
  border: 1px solid;
}

.textarea--error .textarea__field {
  border-color: red;
  color: red;
}

.textarea:focus-within .textarea__field {
  color: black;
  outline: none;
}

.textarea__field:disabled {
  background: #f5f5f5;
  border-color: #b6b6b6;
  color: #acacac;
}

.textarea__field:hover {
  border-color: #868686;
}
